<footer class="footer">
    <div class="footer-container grid-6-fr">
        <div class="footer-column footer-column-1 grid-span-2-3-6">
            <div>
                <h3>NestScout</h3>
                <p>Find cozy and unique accommodations around the world.</p>
            </div>
        </div>

        <div class="footer-column footer-column-2 grid-span-1-6">
            <div>
                <h4>Navigation</h4>
                <ul class="footer-links">
                    <li><a href="">Rentals</a></li>
                    <li><a href="">Become a Host</a></li>
                    <li><a href="">Support</a></li>
                    <li><a href="">About Us</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-column footer-column-3 grid-span-1-6">
            <div>
                <h4>Contact</h4>
                <ul class="footer-links">
                    <li class="icon-li"><i>call</i> +1 (999) 123-4567</li>
                    <li class="icon-li"><i>mail</i> support@nestscout.com</li>
                    <li class="icon-li"><i>public</i> New York, USA</li>
                </ul>
            </div>
        </div>

        <div class="footer-column footer-column-4 grid-span-5-6-6">
            <div>
                <h4>Connect With Us</h4>
                <div class="social-icons">
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <p>© 2024 NestScout. All Rights Reserved</p>
        </div>
    </div>
</footer>