<div class="main__container centred">
    <form action="/listings/search" method="GET" class="main__container__form">
        <div class="field border round label no-margin">
            <input type="text" id="city" name="city" required>
            <label for="city">City</label>
        </div>

        <div class="row">
            <div class="field border round label">
                <input type="date" id="check_in" name="check_in" required>
                <label for="check_in">Check-in</label>
            </div>

            <div class="field border round label">
                <input type="date" id="check_out" name="check_out" required>
                <label for="check_out">Check-out</label>
            </div>
        </div>

        <div class="field border round label">
            <input type="number" id="guests_count" name="guests_count" min="1" required>
            <label for="guests_count">Number of guests</label>
        </div>

        <button type="submit">Search</button>
    </form>
</div>