* {
  margin: 0;
  padding: 0;
  --primary:#44d8f1;
  --on-primary:#00363e;
  --primary-container:#004e59;
  --on-primary-container:#a1efff;
  --secondary:#b1cbd1;
  --on-secondary:#1c3439;
  --secondary-container:#334a50;
  --on-secondary-container:#cde7ed;
  --tertiary:#bcc5eb;
  --on-tertiary:#262f4d;
  --tertiary-container:#3c4665;
  --on-tertiary-container:#dbe1ff;
  --error:#ffb4ab;
  --on-error:#690005;
  --error-container:#93000a;
  --on-error-container:#ffb4ab;
  --background:#191c1d;
  --on-background:#e1e3e3;
  --surface:#111415;
  --on-surface:#e1e3e3;
  --surface-variant:#3f484a;
  --on-surface-variant:#bfc8ca;
  --outline:#899295;
  --outline-variant:#3f484a;
  --shadow:#000000;
  --scrim:#000000;
  --inverse-surface:#e1e3e3;
  --inverse-on-surface:#2e3132;
  --inverse-primary:#006876;
  --surface-dim:#111415;
  --surface-bright:#363a3b;
  --surface-container-lowest:#0b0f10;
  --surface-container-low:#191c1d;
  --surface-container:#1d2021;
  --surface-container-high:#272b2b;
  --surface-container-highest:#323536;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 1700px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
}

header {
  padding: 0;
}

footer {
  font-size: 16px;
  margin-top: 10rem;
}

.row {
  display: flex;
  margin: 0;
}

.centred {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.listings-page__second-row {
  display: flex;
  align-items: start;
  margin-top: 1.5rem;
}

.no-margin {
  margin: 0;
}

.font-size-16 { font-size: 16px; }
.font-size-20 { font-size: 20px; }
.font-size-24 { font-size: 24px; }
.font-size-28 { font-size: 28px; }
.font-size-32 { font-size: 32px; }
.font-size-36 { font-size: 36px; }

.font-weight-bold {
  font-weight: bold;
}

.home-icon {
  font-size: 48px;
  width: 34px;
  height: 52px;
}

.large-icon {
  font-size: 48px;
  width: fit-content;
  height: fit-content;
}

.medium-icon {
  font-size: 36px;
  width: fit-content;
  height: fit-content;
}

.cursor-pointer {
  cursor: pointer;
}

.text-line-through {
  text-decoration: line-through;
}

.text-justify {
  text-align: justify;
}

.button_large-font {
  font-size: 18px;
}

.navbar {
  padding: 20px 80px;
}

.navbar__site-name {
  margin-left: 10px;
  font-size: 32px;
}

.main__container {
  margin-top: 60px;
}

.main__container__form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem 0.7rem;
}

.main__container__form input {
  height: 4rem;
}

.main__container__form button {
  height: 3rem;
  grid-column: 2 / 4;
}

.main__container__form .field {
  margin: 0;
  grid-column: span 2;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.auth__form {
  width: 30%;
  text-align: center;
}

.auth__field-error {
  text-align: start
}

.form-title {
  margin-bottom: 1rem;
}

.user__options-button {
  width: 12rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.user__options-button > menu > a {
  width: 12rem;
  padding-left: 1.35rem;
  column-gap: 0.65rem;
}

.user__options-button__name {
  text-align: left;
}

.found-listings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  padding: 0 80px 80px 80px;
}

.found-listings__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: #101010 3px 3px 3px 3px;
  border-radius: 20px;
  transition: transform ease 0.2s;
}

.found-listing__info {
  padding: 1rem 1rem 1rem 1.5rem;
}

.found-listings__info__total-price {
  color: #b6b6b6;
  text-decoration: underline;
}

.found-listing__image {
  width: 100%;
}

.found-listings__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.found-listings__header__title {
  font-size: 1.5rem;
}

.found-listings__header__filter-button {
  width: 5rem;
  height: 3.5rem;
}

.listing-page-container {
  padding: 20px 80px;
}

.listing-title {
  font-size: 1.7rem;
}

.listing-page__booking-container {
  padding: 2rem;
  align-self: flex-start;
  margin-top: 1.5rem;
}

.listing-page__booking-container > h5 {
  margin-bottom: 2rem;
}

.listing-page__booking-form input {
  height: 4rem;
}

.listing-page__booking-form > .field {
  margin-top: 2rem;
}

.listing-page__booking-form hr {
  margin-bottom: 1rem;
}

.listing-page__booking-form button {
  height: 3rem;
  width: 7.8rem;
  font-size: 1.2rem;
}

.listings-page__right-side-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.listings-page__right-side-container__rate-and-favorite {
  padding-inline: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.listings-page__right-side-container__rate-and-favorite i {
  font-size: 32px;
  width: fit-content;
  height: fit-content;
}

.listings-page__right-side-container__rate-and-favorite span {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.listing-page__copy-container {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  filter: grayscale(100%) brightness(75%);
  transition: filter ease 0.2s;
}

.listing-page__copy-container i {
  font-size: 32px;
  width: fit-content;
  height: fit-content;
}

.listing-page__copy-container span {
  font-size: 1rem;
  margin-right: 0.5rem;
  text-decoration: underline;
}

.listing-page__copy-container:hover {
  filter: grayscale(0%);
}

.listings-page__right-side-container__reviews-link {
  color: #aaaaaa;
  text-decoration: underline;
}

.listings-page__bottom-container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.listings-page__bottom-container__amenities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.listings-page__bottom-container__title {
  max-width: 550px;
}

.listing-page__amenity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  border: 1px solid gray;
  border-radius: 18px;
  height: 3rem;
  width: 12.5rem;
  margin: 0;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  position: relative;
}

.line-through {
  position: relative;
}

.line-through::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
  transform: translateY(-50%);
}

.favorite-icon {
  cursor: pointer;
}

.favorite-icon.saved {
  color: #ff6347;
}

.amenities-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 20px;
  padding: 1.5rem;
  border: 1px solid #7a8285;
}

.amenity {
  display: flex;
  justify-content: start;
  padding: 1rem 1.5rem;
  gap: 1.2rem;
  height: 4rem;
  width: 10rem;
  text-align: start;
  border-radius: 18px;
  border: 1px solid #7a8285;
}

.description-container {
  height: 10rem;
}

#description {
  height: 10rem;
}

select option {
  height: 100%;
}

.listing-crating-container {
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listing-crating-container .form-title {
  margin-bottom: 0;
}

.listing-create-form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
  padding: 3rem;
  border: 1px solid #7a8285;
  border-radius: 24px;
}

.grid-row-gap {
  grid-row-gap: 2.5rem;
}

.listing-create-form input,
.listing-create-form select,
.listing-create-form textarea {
  border-radius: 16px;
}

.grid-span-1-6 { grid-column: span 1; margin: 0 }
.grid-span-2-6 { grid-column: span 2; margin: 0 }
.grid-span-3-6 { grid-column: span 3; margin: 0 }
.grid-span-6-6 { grid-column: span 6; margin: 0 }

.listing-create__submit-button {
  grid-column: 3/5;
  margin: 0;
  height: 3rem;
}